<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.opportunity.quiz"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.opportunity.quiz.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.opportunity.quiz.VideosList"
            android:label="@string/title_activity_videos_list" >
        </activity>
        <activity
            android:name="com.opportunity.quiz.ShowVideo"
            android:label="@string/title_activity_show_video" >
        </activity>
        <activity
            android:name="com.opportunity.quiz.ShowQuestion"
            android:label="@string/title_activity_show_question" >
        </activity>
        <activity
            android:name="com.opportunity.quiz.ShowResult"
            android:label="@string/title_activity_show_result" >
        </activity>
    </application>

</manifest>
